@model ContatoModel
@{
    ViewData["Title"] = "Lista de Contatos";
}

<div class="text-center">
    <h2 class="display-4">Cadastrar contato</h2>
</div>
<form asp-controller="Contato" asp-action="Create" method="post">
    <div class="form-group">

        <div class="div-input">
            <label for="exampleInputEmail1">Nome</label>
            <input asp-for="Name" type="text" class="form-control" placeholder="Nome">
            <div class="msg-erro">
                @Html.ValidationMessageFor(objContato  => objContato.Name)
            </div>
        </div>

        <div class="div-input">
            <label for="exampleInputEmail1">Email</label>
            <input asp-for="Email" type="email" class="form-control" placeholder="Email">
            <div class="msg-erro">
                @Html.ValidationMessageFor(objContato  => objContato.Email)
            </div>
        </div>

        <div class="div-input">
            <label for="exampleInputEmail1">Telefone</label>
            <input asp-for="Celular" type="text" class="form-control" placeholder="Telefone">
            <div class="msg-erro">
                @Html.ValidationMessageFor(objContato  => objContato.Celular)
            </div>
        </div>

    </div>
    <a type="button" class="btn btn-secondary" asp-area="" asp-controller="Contato" asp-action="Index">Voltar</a>
    <button type="submit" class="btn btn-primary">Add</button>
</form>

