@{
    ViewData["Title"] = "Apagar contato";
}

<div class="text-center">
    <h3 class="display-4">Apagar o contato (fulano)</h3>
    <a class="btn btn-secondary" asp-area="" asp-controller="Contato" asp-action="Index">Cancelar exclusão</a>
    <a class="btn btn-danger">Confirmar exclusão</a>
</div>


